@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rajdhani:wght@700&display=swap');

.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span{
    font-size: 1rem;

}


.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

.experienceBar > div span{
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}